[Unit]
Description=Calls the main function automatically after startup. Output and error logs are stored in output.log and error.log on the desktop
After=multi-user.target

[Service]
StandardOutput = append:/home/pi/Desktop/SpaceNet_OS_Software/output.log
StandardError = append:/home/pi/Desktop/SpaceNet_OS_Software/error.log
ExecStart=/usr/bin/python3 -u /home/pi/Desktop/main.py

[Install]
WantedBy=multi-user.target